/* A aplicação do Asterisco(*) no arquivo do CSS informa ao navegador que todos 
os elementos da tela receberão esta formatação */
* {
  margin: 0; /* Estamos zerando as margens externas dos elementos*/
  padding: 0; /* Estamos zerando as margens internas dos elementos*/
}
/* Vamos aplicar ana tag Header cor de fundo e padding  */
header {
  background-image: url("../img/cafe6.jpg");
  background-position: 0-100px;
  padding-top: 150px;
  transition: ease 1s; /*Efeito de animação com transition. Efeito ease 
                       com tempo de 2s*/
}
/* Formatar a Tag h1 que está dentro do header */
header h1 {
  color: #fff; /*Cor da Letra*/
  font-family: "Arial"; /*Mudar o tipo da letra pra Arial*/
  text-align: center; /*Alinhando o texto no centro*/
}
header nav {
  background-color: rgb(9, 39, 9);
  text-align: center;
  padding: 5px;
}
header nav ul li {
  /* Vamos exibir os itens da lista um ao lado do outro. Usaremos
  O comando display (tela|exibir) inline-block(bloco em linha)  */
  display: inline-block;
  margin: 5px;
}
header nav ul li a {
  color: #fff;
  font-family: "Arial";
  /* Comando pra retirar a decoração ou sublinhagem do texto */
  text-decoration: none;
}
header nav ul li a:hover {
  color: seagreen;
}
footer {
  /* Aplicando cor de fundo no rodapé */
  background-color: rgb(17, 16, 16);
  /* Aplicando margem interna */
  padding: 30px;
  padding-top: 60px;
  /* Altura do rodapé */
  height: 150px;
}
/* Para fazer a formatação em um id definido é necessário que 
você adicione sustenido (#) ao inicio do nome do id. Neste caso
nossa div tem o id chamado end, então aplicamos desta forma: #end */
footer #end {
  color: #fff;
  font-family: "Verdana";
  font-size: 12px;
  float: left;
}
footer #redes {
  /* border: solid 1px green; */
  float: right;
}
footer #redes a {
  text-decoration: none;
}
footer #redes a img {
  width: 40px; /*Diminuir a largura da imagem*/
  right: 40px; /*Diminuir a altura da imagem*/
  margin: 5px; /*Criar um espaço entre uma rede e outra*/
  transition: ease 0.5s;
}
footer #redes a img:hover {
  /* Realizar uma rotação de 360º na imagem */
  transform: rotate(360deg);
}
/*--------------- INÍCIO DA FORMATAÇÃO DA PÁGINA INDEX------------ */
main h2 {
  font-family: "Arial";
  font-size: 20px;
  margin: 50px;
  border-bottom: green 1px solid;
}
main p {
  margin-left: 100px; /*Criando margens no texto para não ficarem colados no canto da tela*/
  margin-right: 100px;
  margin-bottom: 30px; /*margem na parte inferior de cada parágrafo*/
  text-align: justify; /*Ajustando as linhas para ficarem arrumadas*/
  font-size: 12pt; /*tamanho da letra do texto*/
  line-height: 20pt; /*altura da linha, que dá um efeito de espaçamento entre as linhas*/
  font-family: "Arial";
}
main #imghome img {
  text-align: center; /*colocar as imagens centralizadas*/
  width: 300px;
  height: 300px;
  /* Vamos arredondar os cantos das imagens com o comando border-radius. O valor
  pode ser em pixel ou porcentagem */
  border-radius: 50%;
  margin: 10px; /*para afastar uma imagem da outra*/
  opacity: 0.6;
  transition: ease 0.5s;
}
main #imghome img:hover {
  opacity: 1; /*ao colocar o ponteiro da imagem ela fica viva e nitida*/
  transform: scale(1.1); /*assim a imagem vem pra frente*/
}
/*--------FIM DA FORMATAÇÃO DA PÁGINA INDEX------------*/

/* --------INICIO DA FORMATAÇÃO DA PÁGINA HISTÓRIA------- */
main #imghistoria {
  text-align: center;
}
main #imghistoria img {
  width: 300px;
  height: 300px;
  margin: 10px;
}
main #video {
  text-align: center;
}
main #video iframe {
  width: 90%;
  height: 400px;
}

/* --------FIM DA FORMATAÇÃO DA PÁGINA HISTÓRIA------- */

/* --INICIO DA FORMATAÇÃO DA PÁGINA CARDÁPIO-- */
/*main #area,
main #area #conteudo,
main #area #conteudo #imagem,
main #area #conteudo #texto {
  border: 1px solid red;
}*/
main #area #conteudo #imagem img {
  width: 200px;
  height: 180px;
}
main #area #conteudo #imagem {
  width: 210px;
  /* fazer a caixa de imagem flutuar para a esquerda */
  float: left;
}
main #area #conteudo #texto {
  width: 600px;
  /* fazer a caixa de texto flutuar para a esquerda */
  float: left;
}
/* Aplicar a exibição (display) inline-block para as 
caixas area e conteudo */
main #area,
main #conteudo {
  display: inline-block;
  width: 90%;
}
main #area #conteudo #texto h5 {
  font-size: 14pt;
  font-family: "Arial";
  margin: 5px;
}
main #area #conteudo #texto span {
  color: red;
}
main #area #conteudo {
  margin-left: 50px;
  border-bottom: 1px rgb(31, 97, 14);
}
main h3 {
  font-family: "Arial";
  font-size: 20pt;
  margin: 50px;
}
/* --FIM DA FORMATAÇÃO DA PÁGINA CARDÁPIO-- */

/* INICIO DA FORMATAÇÃO DA PÁGINA LOCALIZAÇÃO */
main #mapa iframe {
  width: 100%;
  height: 500px;
}

/* FIM DA FORMATAÇÃO DA PÁGINA LOCALIZAÇÃO */
